<main class="container estilo" style="font-family: 'Oswald', sans-serif">
    <header class="header">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Geoespacios</h1>
            <h2>Servicios de arquitectura e ingeniería ltda.</h2>
            <h3 class="mb-3">Visualiza tus proyectos aquí!</h3>
            {{!-- Se debe hacer la vista signin --}}
            <a href="/signin" class="btn btn-primary">Ir a la aplicación</a> 
        </div>
    </header>
</main>