<!DOCTYPE html>
<html>
<head>
	<html lang="es">
	<title>Ingresar usuario-Admin Geoespacios</title>
	<link rel="icon" href="imagenes/favicon.png" type='image/x-icon'/>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="css/css-ingresausuario.css" media="screen" />
</head>
<body>
	<header>
			<div class="contenedor" id="navegacion">
				<p class="logo">GEOESPACIOS</p>
				<nav> 
					<ul>
						<li class="item"><a href="http://www.geoespacios.com/#" style= "text-decoration: none" target="_blank">Ir a geoespacios.com</a></li>
					</ul>
				</nav>
			</div>	
	</header>
	
	<div class="container">     <!-- el bloque negro que contiene los campos nombre, apellido, email y contraseña -->
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Ingreso de usuario</h3>
				</div>
				
				<div class="card-body">
				<form action="DIRECCION DE ENVIO DE FORMULARIO (PHP)" name="form" method="post">  <!-- formulario a enlazar mediante PHP-->
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Nombre" id="id_nombre">  <!-- input clase nombre -->
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Apellidos" id="id_apellidos"> <!-- input clase apellidos -->
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="Correo electrónico" id="id_email">  <!-- input clase email -->
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="clave1" class="form-control" placeholder="Contraseña" id="id_nombre">  <!-- input clase contraseña -->
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="clave2" class="form-control" placeholder="Repita la contraseña" id="id_contrasena"> <!-- input clase repetir contraseña -->
					</div>
					<div class="form-group">
						<input type="submit" value="Registrar" class="btn float-right login_btn" id="id_submit"> <!-- submit -->
					</div>
					<div class="form-group">
						<a href="index.html"  class="btn float-left volver">Volver</a>            <!-- volver atrás LINK POR COLOCAR -->
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>