<!DOCTYPE html>
<html>
<head>
	<html lang="es">
	<title>Bienvenido - Geoespacios</title>
	<link rel="icon" href="imagenes/favicon.png" type='image/x-icon'/>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="css/css-sesionusuario.css" media="screen" />
</head> 
			<div class="contenedor" id="navegacion">
				<p class="logo">GEOESPACIOS</p>
				<nav> 
					<ul>
						<li class="item"><a href="http://www.geoespacios.com/#" style= "text-decoration: none" target="_blank">Ir a geoespacios.com</a></li>
					</ul>
				</nav>
			</div>	
	</header>
	<div class="container">     <!-- el bloque negro que contiene los campos nombre, apellido, email y contraseña -->
		<div class="a">
			<div class="card">
				<div class="card-header">
					<img src="imagenes/images.png" class="imagen"></img>
				<nav id="primary_nav_wrap">
					<div><li><a class="proyectos" style="text-decoration:none" href="#">Proyectos<ul></ul></a></li></div>
					<ul>
						
						<li class="submenu-option"><a class="ajustes" href="#">Ajustes</a>
							<ul>
								<li><a href="#">Editar nombre de usuario</a></li>
								<li><a href="#">Editar organización</a></li>
								<li><a href="#">Cambiar contraseña</a></li>
					
							</ul>
						</li>
					</ul>
					
				</nav>
				
				<div class="card-body">
				
				<div class="cerrar-sesion"><a class="volver" href="index.html" style="text-decoration:none">Cerrar sesión</a></div>
				
				
				</div>
				</div>
			</div>
		</div>
		
	</body>
</html>